body{
    width: 100vw !important;
    padding: 0px;
    margin: 0px;
    background: aquamarine;
}
html{
    width: 100vw !important;
    padding: 0px;
    margin: 0px;
}
.body .zoom{
    transform: scale(0.8);
    transform-origin: 0 0;
}
#app{
    width: 100vw !important;
    padding: 0px;
    margin: 0px;
}